<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>gPhotoAlbums</string>
	<key>connections</key>
	<dict>
		<key>0177B5F4-CA5D-4079-99BE-6CFFAEDA468A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E51F021B-5BDA-4944-8AFD-7E8BF7BB9F09</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6DC80F47-A7BA-4949-9D89-5373E15392B2</string>
				<key>modifiers</key>
				<integer>1179648</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>23616408-56AE-4F98-A860-3F0318CAE1B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>44BA0F62-84DA-460B-B26E-934FD0B953FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2D47D8AA-A338-4FCC-9F4E-95D95D3E20A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4FC8A216-4EF0-4488-BC2D-3206C28E4262</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>33709CDB-9B84-441C-BA15-7556CAF867A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E51F021B-5BDA-4944-8AFD-7E8BF7BB9F09</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>39D09531-4A3C-40D6-9820-0640D4A15EDE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0196BF57-2711-4C59-9A62-EFCCF4A43BA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>97D12B10-029F-43D8-8C29-9104B900AD26</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4339EB4C-C7DF-495C-84DB-348A0F3F59C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>88E634B1-21F9-4D7F-BC5A-E7CEBDAD5EE1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C308C8D0-CA34-4A22-8E7D-AE0EDE680A9B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7045395B-5639-4540-9134-36535196C5FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B4845D46-F582-4783-B95A-140CBAA5F66A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>44BA0F62-84DA-460B-B26E-934FD0B953FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CAAB534C-E3D5-46A6-8D66-8DD57F1593DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4AD9FB92-F758-4B2D-96A0-9A5E339A6347</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4629EF35-4731-4A02-9DC7-3BD8E2DCDE0C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>39D09531-4A3C-40D6-9820-0640D4A15EDE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4FC8A216-4EF0-4488-BC2D-3206C28E4262</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D52A154D-B011-4536-8B0E-3D4E301762F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>34F89E53-F50A-486B-87E1-FF3137F7466B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5AA52F86-4409-4675-B334-F412635898BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D49C40F9-1432-45D2-A3FE-4E385083396B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6DC80F47-A7BA-4949-9D89-5373E15392B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5915D294-1746-44A9-A9A9-242627917FF6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7E789102-B32E-4AB8-B112-F2D08FD441C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0177B5F4-CA5D-4079-99BE-6CFFAEDA468A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9D442C6A-960E-45FE-BB15-4DABD89B11A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6B155D5-DFD4-4FEA-8C41-4396629ED32C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2F53E09A-5744-447D-8D57-70685BD31533</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AED54EFC-B0DF-436D-95AB-3237682FA300</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E51F021B-5BDA-4944-8AFD-7E8BF7BB9F09</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C22D16A4-A8F2-48ED-B493-6075E8094422</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D442C6A-960E-45FE-BB15-4DABD89B11A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D49C40F9-1432-45D2-A3FE-4E385083396B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>46AD8BD7-8416-424F-B2B6-9572386186EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>07420963-9ACF-40B6-B61E-BF1C84BA61F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E51F021B-5BDA-4944-8AFD-7E8BF7BB9F09</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EEEA1583-8F01-46A5-A027-7A58C69A26A1</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2D47D8AA-A338-4FCC-9F4E-95D95D3E20A6</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4629EF35-4731-4A02-9DC7-3BD8E2DCDE0C</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>85C71100-EE05-4304-80C0-F9C54E35D697</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6DC80F47-A7BA-4949-9D89-5373E15392B2</string>
				<key>modifiers</key>
				<integer>1179648</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>23616408-56AE-4F98-A860-3F0318CAE1B0</string>
				<key>modifiers</key>
				<integer>1310720</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4339EB4C-C7DF-495C-84DB-348A0F3F59C5</string>
				<key>modifiers</key>
				<integer>1572864</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C22D16A4-A8F2-48ED-B493-6075E8094422</string>
				<key>modifiers</key>
				<integer>1835008</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EEEA1583-8F01-46A5-A027-7A58C69A26A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5AA52F86-4409-4675-B334-F412635898BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>giovanni</string>
	<key>description</key>
	<string>Import and manage Google Photos albums in Alfred.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>gPhotos Albums</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>/usr/bin/python3 "./tag_menu.py" "$myInput" "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>add/remove tags</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5AA52F86-4409-4675-B334-F412635898BD</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python3 "./toggle_tag.py" "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D49C40F9-1432-45D2-A3FE-4E385083396B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>gp_list</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>07420963-9ACF-40B6-B61E-BF1C84BA61F0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:notification_subtitle}</string>
				<key>title</key>
				<string>{var:notification_title}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>46AD8BD7-8416-424F-B2B6-9572386186EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>myInput</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>EEEA1583-8F01-46A5-A027-7A58C69A26A1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:notification_subtitle}</string>
				<key>title</key>
				<string>{var:notification_title}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D52A154D-B011-4536-8B0E-3D4E301762F8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>cat &lt;&lt; EOB

	{"items": [


    {
        "title": "Change item count to $1",
        "subtitle": "$albumTitle",
        "arg": "$1",
	},



	]}
EOB
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>enter a value</string>
				<key>title</key>
				<string>edit item count</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2D47D8AA-A338-4FCC-9F4E-95D95D3E20A6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python3 "./edit_item_count.py" "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4FC8A216-4EF0-4488-BC2D-3206C28E4262</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>gp_list</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>34F89E53-F50A-486B-87E1-FF3137F7466B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>cat &lt;&lt; EOB

	{"items": [


    {
        "title": "Change album title to $1",
        "subtitle": "Edit text, then press ↩️",
        "arg": "$1",
	},



	]}
EOB
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>enter or edit current title</string>
				<key>title</key>
				<string>edit album title</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4629EF35-4731-4A02-9DC7-3BD8E2DCDE0C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python3 "./edit_album_title.py" "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>39D09531-4A3C-40D6-9820-0640D4A15EDE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>gp_list</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>97D12B10-029F-43D8-8C29-9104B900AD26</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:notification_subtitle}</string>
				<key>title</key>
				<string>{var:notification_title}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0196BF57-2711-4C59-9A62-EFCCF4A43BA1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:TAG_KEYWORD}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>/usr/bin/python3 "./list_tags.py" "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Google Photos Albums Tags 🏷️</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>tagList</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>33709CDB-9B84-441C-BA15-7556CAF867A5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>85C71100-EE05-4304-80C0-F9C54E35D697</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:SEARCH_KEYWORD}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>searching...</string>
				<key>script</key>
				<string>/usr/bin/python3 search_albums.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Google Photos Albums Search 🔍️</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>custominputarg</key>
				<string>{var:userInputString}</string>
				<key>externalid</key>
				<string>gp_list</string>
				<key>usecustominputarg</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E51F021B-5BDA-4944-8AFD-7E8BF7BB9F09</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>#!/bin/bash

./unified_import.sh
#./debug_wrapper.sh
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0177B5F4-CA5D-4079-99BE-6CFFAEDA468A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:IMPORT_KEYWORD}</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Import Google Photos Albums ⬇️</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7E789102-B32E-4AB8-B112-F2D08FD441C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6DC80F47-A7BA-4949-9D89-5373E15392B2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>📋️ Copied to clipboard!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5915D294-1746-44A9-A9A9-242627917FF6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:STATS_KEYWORD}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/python3 "./list_album_stats.py"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Google Photos Albums Stats 📈</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>album_stats</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AED54EFC-B0DF-436D-95AB-3237682FA300</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python3 "./edit_date.py" "$albumToEdit" "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>44BA0F62-84DA-460B-B26E-934FD0B953FA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>cat &lt;&lt; EOB

	{"items": [


    {
        "title": "Change date range to $1",
        "subtitle": "$albumTitle",
        "arg": "$1",
	},



	]}
EOB
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>enter a value</string>
				<key>title</key>
				<string>change date range</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>23616408-56AE-4F98-A860-3F0318CAE1B0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>gp_list</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>CAAB534C-E3D5-46A6-8D66-8DD57F1593DF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:notification_subtitle}</string>
				<key>title</key>
				<string>{var:notification_title}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4AD9FB92-F758-4B2D-96A0-9A5E339A6347</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>tagList</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>88E634B1-21F9-4D7F-BC5A-E7CEBDAD5EE1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:mySource}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>tagList</string>
						<key>outputlabel</key>
						<string>tagList</string>
						<key>uid</key>
						<string>C308C8D0-CA34-4A22-8E7D-AE0EDE680A9B</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:mySource}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>album_stats</string>
						<key>outputlabel</key>
						<string>album_stats</string>
						<key>uid</key>
						<string>B4845D46-F582-4783-B95A-140CBAA5F66A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>4339EB4C-C7DF-495C-84DB-348A0F3F59C5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>album_stats</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>7045395B-5639-4540-9134-36535196C5FD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python3 "./delete_album.py" "$albumToDelete"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9D442C6A-960E-45FE-BB15-4DABD89B11A7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:notification_subtitle}</string>
				<key>title</key>
				<string>{var:notification_title}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2F53E09A-5744-447D-8D57-70685BD31533</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>cat &lt;&lt; EOB

	{"items": [


    {
        "title": "🚨This album will be deleted. Proceed?",
        "subtitle": "$albumTitle will not be deleted from Google Photos",
        "arg": "$1",
	},



	]}
EOB
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>enter a value</string>
				<key>title</key>
				<string>deleting album</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C22D16A4-A8F2-48ED-B493-6075E8094422</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>gp_list</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>B6B155D5-DFD4-4FEA-8C41-4396629ED32C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Google Photos Albums 📸

Manage Google Photos albums in Alfred.
![](screenshot.png)

- ⬇️ Import albums from your browser: navigate to your Google Photos albums page or a specific album, trigger the workflow, and it will extract album titles, URLs, item counts (bulk only), and dates (single-album only). 

- 🏷️ search and filter by tag

- 📈 album stats

Once you find the album you want, you can:
- open it in your browser (`↵`)
- edit its title (`⌘-↵`)
- edit its tags (`⌃-↵`)
- edit its item count (`⌥-↵`)
- quicklook it (`⇧`)
- edit its date or date range (`⌃-⌘-↵`)
- copy its URL to the clipboard in Markdown format (`⌘-⇧-↵`)
- delete it from the database (`⌘-⌥-⌃-↵`)</string>
	<key>uidata</key>
	<dict>
		<key>0177B5F4-CA5D-4079-99BE-6CFFAEDA468A</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>555</real>
		</dict>
		<key>0196BF57-2711-4C59-9A62-EFCCF4A43BA1</key>
		<dict>
			<key>xpos</key>
			<real>1065</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>07420963-9ACF-40B6-B61E-BF1C84BA61F0</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>1260</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>23616408-56AE-4F98-A860-3F0318CAE1B0</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>edit date</string>
			<key>xpos</key>
			<real>655</real>
			<key>ypos</key>
			<real>910</real>
		</dict>
		<key>2D47D8AA-A338-4FCC-9F4E-95D95D3E20A6</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>2F53E09A-5744-447D-8D57-70685BD31533</key>
		<dict>
			<key>xpos</key>
			<real>1105</real>
			<key>ypos</key>
			<real>1335</real>
		</dict>
		<key>33709CDB-9B84-441C-BA15-7556CAF867A5</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>34F89E53-F50A-486B-87E1-FF3137F7466B</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>1260</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>39D09531-4A3C-40D6-9820-0640D4A15EDE</key>
		<dict>
			<key>xpos</key>
			<real>850</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>4339EB4C-C7DF-495C-84DB-348A0F3F59C5</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>note</key>
			<string>BACK</string>
			<key>xpos</key>
			<real>920</real>
			<key>ypos</key>
			<real>1105</real>
		</dict>
		<key>44BA0F62-84DA-460B-B26E-934FD0B953FA</key>
		<dict>
			<key>xpos</key>
			<real>905</real>
			<key>ypos</key>
			<real>910</real>
		</dict>
		<key>4629EF35-4731-4A02-9DC7-3BD8E2DCDE0C</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>edit album title</string>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>46AD8BD7-8416-424F-B2B6-9572386186EC</key>
		<dict>
			<key>xpos</key>
			<real>1065</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>4AD9FB92-F758-4B2D-96A0-9A5E339A6347</key>
		<dict>
			<key>xpos</key>
			<real>1065</real>
			<key>ypos</key>
			<real>910</real>
		</dict>
		<key>4FC8A216-4EF0-4488-BC2D-3206C28E4262</key>
		<dict>
			<key>xpos</key>
			<real>850</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>5915D294-1746-44A9-A9A9-242627917FF6</key>
		<dict>
			<key>xpos</key>
			<real>1075</real>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>5AA52F86-4409-4675-B334-F412635898BD</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>edit tags</string>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>6DC80F47-A7BA-4949-9D89-5373E15392B2</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>copy markdown link</string>
			<key>xpos</key>
			<real>655</real>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>7045395B-5639-4540-9134-36535196C5FD</key>
		<dict>
			<key>xpos</key>
			<real>1065</real>
			<key>ypos</key>
			<real>1165</real>
		</dict>
		<key>7E789102-B32E-4AB8-B112-F2D08FD441C1</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>555</real>
		</dict>
		<key>85C71100-EE05-4304-80C0-F9C54E35D697</key>
		<dict>
			<key>xpos</key>
			<real>850</real>
			<key>ypos</key>
			<real>545</real>
		</dict>
		<key>88E634B1-21F9-4D7F-BC5A-E7CEBDAD5EE1</key>
		<dict>
			<key>xpos</key>
			<real>1065</real>
			<key>ypos</key>
			<real>1050</real>
		</dict>
		<key>97D12B10-029F-43D8-8C29-9104B900AD26</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>1260</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>9D442C6A-960E-45FE-BB15-4DABD89B11A7</key>
		<dict>
			<key>xpos</key>
			<real>910</real>
			<key>ypos</key>
			<real>1335</real>
		</dict>
		<key>AED54EFC-B0DF-436D-95AB-3237682FA300</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>album stats</string>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>745</real>
		</dict>
		<key>B6B155D5-DFD4-4FEA-8C41-4396629ED32C</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>1290</real>
			<key>ypos</key>
			<real>1335</real>
		</dict>
		<key>C22D16A4-A8F2-48ED-B493-6075E8094422</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>DELETE album</string>
			<key>xpos</key>
			<real>660</real>
			<key>ypos</key>
			<real>1335</real>
		</dict>
		<key>CAAB534C-E3D5-46A6-8D66-8DD57F1593DF</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>1260</real>
			<key>ypos</key>
			<real>910</real>
		</dict>
		<key>D49C40F9-1432-45D2-A3FE-4E385083396B</key>
		<dict>
			<key>xpos</key>
			<real>850</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>D52A154D-B011-4536-8B0E-3D4E301762F8</key>
		<dict>
			<key>xpos</key>
			<real>1065</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>E51F021B-5BDA-4944-8AFD-7E8BF7BB9F09</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>EEEA1583-8F01-46A5-A027-7A58C69A26A1</key>
		<dict>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>gpa</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Search Keyword. Launch Google Photos Albums search.</string>
			<key>label</key>
			<string>🔍️ Search</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>SEARCH_KEYWORD</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>gpa_import</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Import Keyword. Run this when on a Google Photo albums page.</string>
			<key>label</key>
			<string>⬇️ Import</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>IMPORT_KEYWORD</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>gpa_tags</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Tag Keyword. List and filter album tags.</string>
			<key>label</key>
			<string>🏷️ Tag</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>TAG_KEYWORD</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>gpa_stats</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Stats Keyword. Album stats.</string>
			<key>label</key>
			<string>📈Stats</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>STATS_KEYWORD</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
